<div class="row">
    <div class="col-md-12">
        <br>
        <h2><%= course.courseDescription %></h2>
        <hr />
        <form method="POST" action="/course/update">
            <input type="hidden" name="courseId" value="<%= course.courseId %>" />
            
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="courseCode">Course Code</label>
                        <input class="form-control" id="courseCode" name="courseCode" type="text" value="<%= course.courseCode %>" />
                    </div>s
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="courseDescription">Course Description</label>
                        <input class="form-control" id="courseDescription" name="courseDescription" type="text" value="<%= course.courseDescription %>" />
                    </div>
                </div>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Update Course</button>
        </form>
    </div>
</div>
